<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/header', { categories: locals.categories }) %>

  <h1><%= title %></h1>

  <% if (errors.length > 0) { %>
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  <div class="items-container">
    <form class="main" action="<%= category ? '/categories/' + category.id + '/edit' : '/categories/new' %>" method="POST">
      <label for="categoryname">Category Name:</label>
      <input type="text" id="categoryname" name="categoryname" value="<%= category ? category.categoryname : '' %>" required>
      <br><br>
    <button type="submit"><%= category ? "Update" : "Create" %></button>
  </form>
  </div>
</body>
</html>
