<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('partials/header', { categories }) %>

  <h1><%= title %></h1>
  <% if (items.length === 0) { %>
    <p>No items found.</p>
  <% } else { %>
    <div class="items-container">
      <% items.forEach(item => { %>
        <div class="main">
          <strong><%= item.item_name %></strong>
          <br>
          <p>Description: <%= item.description %></p>
          <p>Price: $<%= item.item_price %></p>
          Category: <%= item.categoryname %>

          <a class="edit" href="/items/<%= item.item_id %>/edit">Edit</a>
          <form 
            action="/items/<%= item.item_id %>/delete" 
            method="POST" 
            style="display:inline"
            onsubmit="return confirm('Delete this item?');">
            <button type="submit">Delete</button>
          </form>
        </div>
         <% }) %>
      <% } %>
       <a class="edit" href="/items/new">Add New Item</a>
    </div>
</body>
</html>
