<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header', { categories }) %>
  <h1><%= title %></h1>

  <form action="<%= item ? '/items/' + item.item_id + '/edit' : '/items/new' %>" method="POST">
    <label for="item_name">Name</label>
    <input type="text" name="item_name" id="item_name" value="<%= item ? item.item_name : '' %>" required>

    <br><br>
    <label for="description">Description</label>
    <input type="text" name="description" id="description" value="<%= item ? item.description : '' %>" required>

    <br><br>
    <label for="item_price">Price</label>
    <input type="number" step="0.01" name="item_price" id="item_price" value="<%= item ? item.item_price : '' %>" required>

    <br><br>
    <label for="category_id">Category</label>
    <select name="category_id" id="category_id">
      <% categories.forEach(cat => { %>
        <option value="<%= cat.id %>" <%= item && item.category_id === cat.id ? 'selected' : '' %>>
          <%= cat.categoryname %>
        </option>
      <% }) %>
    </select>

    <br><br>
    <input type="submit" value="<%= item ? 'Update' : 'Create' %> Item">
  </form>
</body>
</html>
