<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header', { categories: locals.categories }) %>

  <h1><%= title %></h1>

  <% if (errors && errors.length > 0) { %>
    <ul style="color: red;">
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="<%= item && item.item_id ? '/items/' + item.item_id + '/edit' : '/items/new' %>" method="POST">
    <label for="item_name">Name:</label>
    <input type="text" id="item_name" name="item_name" value="<%= item ? item.item_name : '' %>" required><br><br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="<%= item ? item.description : '' %>" required><br><br>

    <label for="item_price">Price:</label>
    <input type="number" id="item_price" name="item_price" step="0.01" value="<%= item ? item.item_price : '' %>" required><br><br>

    <label for="category_id">Category:</label>
    <select name="category_id" id="category_id">
      <% categories.forEach(cat => { %>
        <option value="<%= cat.id %>" <%= item && item.category_id == cat.id ? 'selected' : '' %>><%= cat.categoryname %></option>
      <% }) %>
    </select><br><br>

    <button type="submit"><%= item && item.item_id ? 'Update' : 'Add' %> Item</button>
  </form>
</body>
</html>
